body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color:red;
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  background-color:silver;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  background:black
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color:Red;
  border: 1px solid #fff;

}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background:yellow;
  border: 1px solid #fff;
  z-index: 1;
}
